body {
    font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	margin: 0;
	padding: 0;
}
footer {
    padding: 30px;
    text-align: center;

    font-size: 0.75em;
    font-style: italic;
    color: gray;
    
    background-color: lightgray;
}
#back {
    width: 100%;
    position: relative;
    background-color: white;
}
#content {
    width: 960px;
	height:  1000px;
    margin: 0 auto;
    
    background-color: white;
}