body {
    font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	margin: 0;
	padding: 0;
}
footer {
    padding: 30px;
    text-align: center;

    font-size: 0.75em;
    font-style: italic;
    color: lightgray;
    
    background-color: gray;
}